root = true

[*]
charset = utf-8
indent_style = tab
indent_size = tab
tab_width = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.min.{html,css,js,json}]
insert_final_newline = false

[*.{json,json5,jsonc,webmanifest}]
tab_width = 2

[*.{yml,yaml}]
tab_width = 2

[*.{md,mdx}]
tab_width = 2

[*.{html,htm,xhtml,svg,vue}]
tab_width = 2

[*.{css,pcss}]
tab_width = 2

[*.{sass,scss,less,styl}]
tab_width = 2

[*.{js,cjs,mjs}]
tab_width = 2

[*.{ts,cts,mts}]
tab_width = 2

[*.{jsx,cjsx,mjsx}]
tab_width = 2

[*.{tsx,ctsx,mtsx}]
tab_width = 2

[*.{}]
tab_width = 2

[*.{}]
tab_width = 2

