[user]
	name = Guilherme M. Miranda
	email = alchemist.software@proton.me
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = vim
	pager = less
	fileMode = true
[color]
	ui = auto
[status]
	relativePaths = false
	branch = true
	short = true
	aheadBehind = true
	showStash = true
	showUntrackedFiles = normal
[log]
	date = iso8601
[pull]
	rebase = false
[merge]
	conflictstyle = diff3
[help]
	format = man
	browser = man
[alias]
	gl = config --global --list
	aa = add .
	st = status
	dica = diff --cached
	comm = commit --message
	quic = commit --message "changes"
	undo = reset --soft HEAD^
	reve = remote --verbose

	stash4later = stash --include-untracked
	log4me = log --decorate --oneline --graph
	log2push = log origin/main..main --stat --no-merges
	log1prev = log -1 HEAD --stat

	toptal = "!_gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; _gi"

