[Desktop Entry]
Name=CDCE: Master
Exec=/usr/local/bin/woof -verbose -noextras -shotdir ~/Pictures/Woof -iwad cdce.wad -file cdce-extras.wad cdce-addon-master.wad
Icon=master
TryExec=woof
Type=Application
Comment=Doom
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;mbf21;
