[Desktop Entry]
Name=CDCE: TNT
Exec=/usr/local/bin/woof -verbose -shotdir ~/Pictures/Woof -iwad cdce.wad -file cdce-extras.wad cdce-addon-tnt.wad
Icon=woof
TryExec=woof
Type=Application
Comment=Doom
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;vanilla;doom;boom;mbf;mbf21
